<% provide(:title, "About WSC") %>

  <div class="sub-nav hidden-xs hidden-sm">
  			<ul class="main-nav-list" id="main-nav">
			    <li class="">
			    	<a href="#mission-statement"><h4>Mission</h4>
    					<%= image_tag "globe.svg", :class => "about-icon"%> 
    				</a>
			    </li>
			    <li>
			    	<a href="#history"><h4>History</h4>
            			<%= image_tag "map.svg", :class => "about-icon"%>		    		
			  		</a>	
			    </li>
			    <li>
			    	<a href="#team"><h4>Team</h4>
          				<%= image_tag "team.svg", :class => "about-icon"%>  			  		
          			</a>	
			    </li>
			    <li>
			    	<a href="#contact"><h4>Contact</h4>
    					<%= image_tag "globe.svg", :class => "about-icon"%> 
			  		</a>
			    </li>    
			</ul>  
	</div>



  <section class="mission-statement" id="mission-statement">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-9 col-sm-offset-2">
			  	<div class="">
			  		<h1 class="section-title">Why World Spine Care?</h1>
			  		Care that is:
			  		  	<div class="section-lead">
	  						<h2>The Crippling Burden of Spinal Disorders</h2>
	  						<h5><i>WSC responds to global pain</i></h5>
	  					</div>
	  				<p>Many people commonly work and play in cramped, awkward, slouched or repetitive postures. The resulting pandemic of chronic spinal disorders compromises the quality of our lives. Every year spinal disorders and back pain result in expenditures and losses of billions of dollars worldwide related to health care fees and diminished individual income and productivity. When a family member cannot work or provide support due to back, neck or other musculoskeletal disability, the result may be a catastrophic chain of events for a family struggling to eke out an existence.</p>
	  				<p>The most recent World Health Organization Global Burden of Disease report was published in Lancet in December 2012 (Murray et al, Vos et al, 2012).  In this report, the following information regarding spinal disorders was reported:</p>
				<p>	
					<ul>
						<li>Low back pain is the leading cause of disability</li>
						<li>Low back pain and neck pain affect 1 billion people worldwide.</li>
						<li>Spinal pain contributes more to the global burden of disease (including death and disability) than: HIV, diabetes, malaria, stroke, Alzheimer's disease, breast and lung cancer combined, traffic injuries, and lower respiratory infections.</li></ul></p>
						<p>By far the most common spinal disorders are back and neck pain, an affliction that affects the majority of the adult population of Africa.  As much as 72% of the population will have a bout of back pain over the course of a year.  At any given time, the percentage of people with back pain has been identified as high as 59% (Louw et al, 2007).  The prevalence of spinal pain is four times higher in developing countries (Hoy et al, 2010), the implications of which can be particularly devastating for populations that depend on manual labour for survival. </p>
			  		<p>World Spine Care (WSC) is a multinational not-for-profit organization founded in 2008 by Scott Haldeman, a leading figure in the assessment and treatment of spinal disorders.  It was launched to fill the profound gap in conventional medical treatment of musculoskeletal conditions found in underserviced areas around the world.</p>
			  		<p>WSC has rapidly attracted a world-class leadership team of clinicians and researchers around its vision of global access to evidence-based, multidisciplinary, sustainable prevention, assessment, and treatment for spinal disorders.  The interdisciplinary team includes medical physicians, surgeons, physiotherapists, chiropractors, scientists, traditional healers and anthropologists from around the world.</p>
			  		<p>The flagship project in Botswana is where WSC developed an evidence-based model of care for spinal disorders, designed for practical application by front-line health care workers in underserviced areas worldwide.   Recognizing regional cultural and social variations, the model of care is modified and adapted to local social or cultural contexts with expertise from the local communities and medical anthropologists.</p>
			  		<p>Each World Spine Care Center will act as a primary care clinic for any person seeking help with musculoskeletal pain and more specifically a spinal complaint.  The screening and assessment protocols which World Spine Care has developed will be used to determine the appropriate direction of care.  The vast majority of the patient complaints will be managed within the World Spine Care clinics which will be staffed by clinicians with special training in low technology, low cost, evidence based protocols that include education, exercise and manual therapies directed at spinal and musculoskeletal pain.  For those patients who require secondary and tertiary care, they will be referred to medical specialists within the participating country, or to volunteer specialists (rheumatologists, spine surgeons, etc.) who World Spine Care will recruit for short term visits to provide the required services.</p>
			  		<p>WSC integrates its approach into existing local conventional healthcare systems and partners with local government.  Eventually the local government will take over management of the clinics to ensure that the care provided to people with spinal disorders continues on a permanent basis.</p>
			  		<p>Endorsed by the Bone and Joint Decade and many national and international scientific and professional societies devoted to spine care, World Spine Care is dedicated to serving as a primary agent of conventional medical advancement in alleviating the crippling burden of spinal disorders in underserved regions around the world.</p>
		  			<p><blockquote>The burden of musculoskeletal disorders in terms of disability-adjusted life years on the developing world is estimated to be almost 2.5 times that of the developed world.<footer><cite title="Source Title">Adebajo &amp Gabriel, 2010; Adebajo et al., 2009</cite></footer></blockquote></p>	
		  	<h2>Little to no conventional medical resources available to treat spinal disorders</h2>
		  			<p>Populations in  underservices areas of the world, especially rural populations, often have no access to conventional healthcare resources to care for spinal disorders. In the majority of cases they do not have access to neurologists, spine surgeons, rheumatologists, chiropractors, or physical therapists.
		  			Most are currently treated by traditional healers or in hospitals with pain/anti-inflammatory medication only.  There are no comprehensive conventional medical protocols or models of care available to enable health care workers to treat the spectrum of spinal disorders  common in underserviced areas of the world.</p>
			  	</div>	
<!-- 	  			 <div class="col-sm-3">
          			<%= image_tag "polygon-blue-narrow.jpg", :class => ""%>  			  		
				</div> 	  --> 		  	
		  </div>
		</div>
	</section>  
  <section class="history" id="history">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-9 col-sm-offset-2">	
<!-- 	  			 <div class="col-sm-3">
          			<%= image_tag "polygon-blue-narrow.jpg", :class => ""%>  			  		
				</div>  -->  		
			  <h1 class="section-title">History</h1>						
				  	<p>The principles of World Spine Care first came together in 2008 to realize their vision of a non-profit organization dedicated to addressing the massively underserved issue of musculoskeletal care in the developing world. Through 2008 and 2009 fundamental organizational infrastructure was put in place, and a strategic plan developed. The development of the model of care at the core of the Shoshong project was a milestone of this strategic planning process.</p>
				  	<p>This formational period also included extensive engagement with other non-profits and institutions, aimed at forming the partnerships and collaborations needed to realize the WSC vision. Seed money from the Palmer Chiropractic College, Palladian Musculoskeletal Health, NCMIC and the Canadian Memorial Chiropractic College funded this organizational start-up phase.</p>
				  	<p><blockquote> The World Health Organization states that musculo-skeletal conditions are the most common causes of severe pain and physical disability, affecting hundreds of millions of people across the world.  <footer><cite title="Source Title">Woolf &amp Pfleger, 2003</cite></footer></blockquote></p>
				  	<p>In early 2010, WSC obtained its non-profit status, a milestone that marked the launch of WSC’s strategic plan. The Shoshong project was developed as the cornerstone of this strategic plan, and is currently the focus of the organization. In February 2010, WSC visited Botswana, meeting with key government officials, including the Permanent Secretary, Director of Clinical Services, and Chief Research Officer of the Botswana Ministry of Health. Responding with enthusiasm to the WSC project, the Ministry of Health came onboard as a key partner and contributor.</p>
				  	<p>With the visit to Botswana confirming both the viability of, and urgent need for the Shoshong project, WSC set an aggressive project timetable, with the goal to be on the ground in Shoshong in mid 2011. WSC has now secured the funding for the first phase of the project and is in advanced planning regarding operation of the Shoshong clinic.</p>
						<p><blockquote><footer><cite title="Source Title">Christopher J L Murray et al. Disability-adjusted life years (DALYs) for 291 diseases and injuries in 21 regions, 1990–2010: a systematic analysis for the Global Burden of Disease Study 2010, Lancet 2012; 380: 2197–223</cite></footer></blockquote></p>				  	
						<p><blockquote><footer><cite title="Source Title">Theo Vos et al. Years lived with disability (YLDs) for 1160 sequelae of 289 diseases and injuries 1990–2010: a systematic analysis for the Global Burden of Disease Study 2010, Lancet 2012; 380: 2163–96</cite></footer></blockquote></p>		
						<p><blockquote><footer><cite title="Source Title">Louw QA, Morris LD, Grimmer-Somers K. The prevalence of low back pain in Africa: a systematic review. BMC Musculoskeletal Disorders 2007, 8:105 doi:10.1186/1471-2474-8-105.</cite></footer></blockquote></p>		
						<p><blockquote><footer><cite title="Source Title">Hoy DG, Brooks P, Blyth F, Buchbinder R. The epidemiology of low back pain. Best Practice and Research Clinical Rheumatology 2010;24(6):769–81.</cite></footer></blockquote></p>
					</div>
				</div>
			</div>	
		</div>	
	</section>  
  <section class="team blueprint" id="team">
  <!-- START of BOARD ROW -->
  	<div class="container">			
	  	<div class="row">
  			<div class="col-sm-9 col-sm-offset-2">	
			  <h1 class="section-title">Board of Directors</h1>
				<h3 class="position">Elon Musk</h3>
  				<h4 class="name"><ul><li>CEO and CTO of SpaceX</li><li>CEO and Product Architect of Tesla Motors</li><li>Chairman of SolarCity</li><li>Co-founder of Paypal</li></h4>
				<h3 class="position">Kevin Cichocki</h3>
  				<h4 class="name"><ul><li>Chairman, Palladian Muscular Skeletal Health</li></h4>
				<h3 class="position">William C. Watters III, MD</h3>
  				<h4 class="name"><ul><li>Clinical Professor in the Department of Orthopedics at both The Baylor College of Medicine Houston and the University of Texas Medical Branch in Galveston, Texas</li></h4>
				<h3 class="position">Trevor V. Ireland</h3>
  				<h4 class="name"><ul><li>Chairman of the Board of Trustees of Palmer College of Chiropractic</li>
  				<li>Liaison to Bechtel Foundation and Palmer Foundation</li></h4>  				
				<h3 class="position">Trevor V. Ireland</h3>
  				<h4 class="name"><ul><li>President and CEO, World Spine Care</li></h4> 
				<h3 class="position">Jean Moss</h3>
  				<h4 class="name"><ul><li>Secretary, World Spine Care</li></h4> 
				<h3 class="position">Donald Petersen</h3>
  				<h4 class="name"><ul><li>Treasurer	, World Spine Care</li></h4> 
			  
			  <h1 class="section-title">Committees</h1>
			<div class="profile">
  								<h3 class="position">President</h3>
  				<h4 class="name">Scott Haldeman DC, MD, PhD, FRCP(C), FCCS(C), FAAN (USA)</h4>
  				<p class="description">Dr. Scott Haldeman holds the positions of Adjunct Professor, Department of Epidemiology, School of Public Health, University of California, Los Angeles, Clinical Professor, Department of Neurology, University of California, Irvine and Adjunct Professor, Department of Research, Southern California University of Health Sciences.<br>Dr. Haldeman is Past President of the North American Spine Society, the American Back Society, the North American Academy of Manipulative Therapy, and the Orange County Neurological Society, and is currently chairman of the Research Council of the World Federation of Chiropractic. He is certified by the American Board of Neurology and Psychiatry and is a Fellow of the Royal College of Physicians of Canada and a Fellow of the American Academy of Neurology. He is a Diplomat of the American Board of Electrodiagnostic Medicine, the American Board of Electroencephalography and Neurophysiology and the American Board of Clinical Physiology. He also served on the US department of Health AHCPR Clinical Guidelines Committee on Acute Low Back Problems in Adults as well as four other Clinical Guidelines Committees. He presided over The Bone and Joint Decade 2000 to 2010 Task Force on Neck Pain and Its Associated Disorders.<br>Dr. Haldeman sits on the editorial boards of eight journals, and has published over 195 articles or book chapters, over 70 scientific abstracts, and has authored or edited seven books. He was awarded an honorary Doctor of Humanities degree from the Southern California University of Health Sciences and an honorary Doctor of Science degree from the Western States Chiropractic College. He received the David Selby Award from the North American Spine Society. A resident of Santa Ana, California, he maintains an active clinical practice.</p>
  		</div>
			<div class="profile">
								<h3 class="position">Vice President</h3>
  				<h4 class="name">Margareta Nordin Dr. Med. Sci. (USA)</h4>
  				<p class="description">Margareta Nordin, Dr. Med. Sci., PT, CIE, is Research Professor, Program Director and Director of the Occupational and Industrial Orthopaedic Centre (OIOC), the Graduate Program of Ergonomics and Biomechanics and the CDC NIOSH Centre for Education and Research (ERC), Departments of Orthopaedics and Environmental Medicine, Graduate School of Arts and Science and School of Medicine, New York University, New York, New York, USA.<br>She has written five books, published more than 190 peer-reviewed papers, participated in five international evidence based task forces and received multiple awards among them The Volvo Award, The Woodbridge Award, The Grammer Award, Junior Nobel Faculty Lecturer. Dr. Nordin was the first woman President of ISSLS 1999-2000. She is currently Adjunct Professor at the Karolinska Institute and the Polytechnic University Hong Kong. The main focus of her research is treatment and prevention of disability for work related musculoskeletal injuries. She has a specific interest in disseminating evidence based, low cost, effective and efficient non-surgical treatment for spine pain.</p>  
  		</div>
			<div class="profile">  		
				<h3 class="position">Secretary</h3>
  				<h4 class="name">Jean A. Moss DC, MBA (Canada). President, Canadian Memorial Chiropractic College</h4>
  				<p class="description">After enjoying an extensive career as a chiropractic practitioner, educator, clinician and administrator, Dr. Jean Moss was appointed the first female President of the Canadian Memorial Chiropractic College (CMCC) in 1991. Under Dr. Moss’s leadership, CMCC has prospered – building historic clinical relationships with universities and hospitals; establishing the McMorland Family Research Chair in Mechanobiology; incorporating the latest research into the integrative curriculum; and the construction of the 6100 Leslie Street campus. A tenacious lobbyist, tireless spokesperson and recipient of many honours, Dr. Moss is a past president of the Association of Chiropractic Colleges, a member of the Board of the Councils of Chiropractic Education International (CCEI), a member of the Executive of World Spine Care’s Board, and a respected leader within the chiropractic profession internationally.</p>  
  		</div>
			<div class="profile">  		
				<h3 class="position">Treasurer</h3>
  				<h4 class="name">Donald M. Petersen, Jr. BS, HCD(hc), FICC(h)</h4>
  				<p class="description">Donald M. Petersen, Jr. is the President of MPA Media, the leading integrated media company serving alternative health and wellness professions and consumer markets. MPA Media’s focus under Don’s direction is to serve alternative health care professions and it does so within the following publications:<i> Dynamic Chiropractic, Dynamic Chiropractic Practice Insights, Acupuncture Today, Massage Today, Nutritional Wellness, To Your Health and its newest addition, Dynamic Chiropractic Canada.</i></p>  
  		</div>		
		<h1 class="section-title">Clinical Team</h1>
			<div class="profile">  		
				<h3 class="position">Joan Haldeman RPT (USA)</h3>
  				<p class="description">Joan Haldeman graduated in 1964 from the University of Pretoria, School of Physiotherapy in South Africa and she has practiced as a physical therapist for 16 years in South Africa, Canada and the USA. Her experience includes working in a general hospital in the departments of neurology, orthopedics and cardiology and private practice as a general physical therapist.  She specialized in the treatment of neurologically impaired children (from birth to age 16 years) taking positions at a multidisciplinary school for cerebral palsy in South Africa and at the Neurological Centre in Vancouver, Canada where she was the senior physical therapist. She also worked as a research therapist and clinician at the Canadian Arthritis and Rheumatology Society Centre in Vancouver, where she took a lead in establishing the first Back School in Canada. For the past 29 years she has administered a multidisciplinary private practice in the USA that encompasses neurology, internal medicine, physical therapy, chiropractic, psychiatry and psychology</p>  
  		</div>	
		<div class="profile">  		
				<h3 class="position">Geoff Outerbridge DC, MSc (Canada)</h3>
  				<p class="description">Dr. Geoff Outerbridge received a B.Sc. in Human Kinetics and a M.Sc. in neuroscience from the University of Guelph. He began his career working for the University of Waterloo as the on-site coordinator at General Motors for the Ontario Universities Back Pain Study, a research study examining the causes of back pain in industry. In 1996 he started an ergonomics consulting company to offer his knowledge and experience to clients in a wide range of environments including mining, assembly line and office.  In addition to consulting and running a personal training business, he attended the Canadian Memorial Chiropractic College from which he graduated in 2001. Since 2001, Dr. Outerbridge has owned a successful multidisciplinary health clinic in Ottawa that integrates chiropractic, massage therapy, acupuncture, naturopathy, rehabilitation, and family medicine.<br>Throughout his research and clinical practice, Dr. Outerbridge has taught courses in anatomy, biomechanics, physiology and neuroscience at the University of Guelph and Kine Concept School of massage therapy.  His interests include the prevention and management of occupational and sports related injuries, integrating chiropractic with exercise protocols, and soft tissue mobilization techniques.</p>  
  		</div>
		<div class="profile">  		
				<h3 class="position">O’Dane Brady, DC, MSc (USA)</h3>
  				<p class="description">Dr. O’Dane Brady completed a bachelor of science in biology and completed his chiropractic studies and a master’s degree in health services administration at D’Youville College in Buffalo, NY. In March of 2013 he joined World Spine Care where he now servers as the Botswana clinical director. Dr. Brady continues his work in managed care where he aids in framing clinical practice guidelines for the management of spinal disorders and health services related to physical and occupational therapy. His research interests include the conservative management of spinal pain, integrative care, and health services related to musculoskeletal disorders.  Dr. Brady is the clinical coordinator of the Botswana clinics.</p>  
  		</div> 

		<div class="profile">  		
				<h3 class="position">O’Dane Brady, DC, MSc (USA)</h3>
  				<p class="description">Dr. Watters received his Bachelor’s and Master’s Degree from the University of Wisconsin in Psychology and his Medical Degree from Harvard Medical School. He completed 2 residencies, one in Internal Medicine and one in Orthopedic Surgery at the University of Pennsylvania prior to moving to Houston, Texas, to chair the Department of Orthopedics at a large private clinic. He is Board Certified in Orthopedics and Spinal Surgery and has over 80 publications addressing the diagnosis and treatment of spinal disease. He has presented more than 100 papers nationally and internationally. He has consulted with several implant manufacturers in product development and has been awarded numerous accolades including being named one of “America’s Top Orthopedic Surgeons” several years running by the Consumer’s Research Council in America and as among 50 top spinal surgeons by Becker Publications in 2010. He is a past-President of the Texas Spine Society, has chaired numerous committees at both the American Academy of Orthopedic Surgery and the North American Spine Society and currently sits on the Board of Directors of the North American Spine Society. He is in private practice specializing in spinal surgery in a 11-man orthopedic group in Houston and is a Clinical Professor in the Department of Orthopedics at both The Baylor College of Medicine Houston and the University of Texas Medical Branch in Galveston, Texas.</p>  
  		</div>   
		<div class="profile">  		
				<h3 class="position">Paul Hodges PhD MedDr DSc BPhty(Hons) FACP (Australia)</h3>
  				<p class="description">Paul is an NHMRC (National Health and Medical Research Council) Senior Principal Research Fellow and the Director of the NHMRC Centre for Clinical Research Excellence in Spinal Pain, Injury and Health (CCRE SPINE) at the University of Queensland, Brisbane Australia. Paul has three doctorates; one in Physiotherapy and two in Neuroscience. His research blends these skills to understand pain, control of movement, and the interaction between multiple functions of the trunk muscles including spine control, continence, respiration and balance. The large multidisciplinary Research Centre that Paul leads aims to bridge the gap between basic science and clinical practice. He has received numerous international research awards (2006 and 2011 ISSLS Prize [premier international prize for spine research from the International Society for the Study of the Lumbar Spine]; Suzanne Klein-Vogelbach Prize), leadership awards (Emerging leader in Health [Next 100 Awards], Future Summit Australian Leadership Award). Paul has published >280 scientific papers and book chapters, presented >120 invited lectures at major conferences in 30 countries, and received >$AU23 million in research grants. He is the author of 3 clinical texts that have sold over 30,000 copies internationally. He has presented workshops for more than 5000 physiotherapists and medical practitioners in more than 40 countries. He is the lead chief investigator on the first physiotherapy based NHMRC Program Grant (~$AU8 million) and received the 2011 NHMRC Achievement Award as the highest ranked NHMRC Research Fellow across disciplines in Australia.</p>  
  		</div> 
		<div class="profile">  		
				<h3 class="position">Tanielle Hilderman MPT, BKin (Hons.) (Canada)</h3>
  				<p class="description">Tanielle Hilderman graduated in 2010 from the University of Saskatchewan with her Masters of Physical Therapy. She graduated from the University of Regina in 2008 with her Bachelors in Kinesiology-Fitness and Lifestyle Honors Degree, while playing university hockey in the CIS. Tanielle’s experience includes working in multi-disciplinary, private practice clinics in Calgary, Alberta where her case load includes a variety of musculoskeletal, orthopaedic conditions from children to the elderly population. Tanielle has started to gain increased experience and training in the assessment and management of concussions, and continues to increase her experience in manual therapy techniques and exercise prescription. Tanielle’s passion lies in using her knowledge and expertise to help those in need, while continuously learning and growing from her experiences.</p>  
  		</div>   		
		<div class="profile">  		
				<h3 class="position">R. Emre Acaroglu MD (Turkey)</h3>
  				<p class="description">Emre R. Acaroglu earned his MD degree in 1986 and started residency in the Department of Orthopedics and Traumatology in Hacettepe University. Upon completion of the residency in 1991, worked in the same department as a clinical instructor for one and a half year, and was appointed as an assistant professor in December 1992.<br>He did his spine fellowship in New York from 1993 to 1994 (Columbia University, directed by Drs. JP Farcy and M Weidenbaum) with a parallel research appointment in the Orthopedic Research Laboratory, directed by Dr. V. Mow.<br>He earned the title of Associate Professor in 1995, and received tenure in 1996. He became a Full Professor of Orthopedics and Traumatology in 2002. He had spent 15 months in University of California San Francisco from 2003 and 2004 as sabbatical. He served as the chief of spinal surgery in Hacettepe University Department of Orthopedics and Traumatology up till 2009. Currently he is the director of Ankara Spine Center and chief of Orthopedic Spine.<br>He maintains a keen interested in medical education. Had been a member of the EduComm of Eurospine for three years between 2008 and 2011. He is the Orthopedic Education officer of AOSpine EU now (3 year term, started July 2013).<br>Dr. Acaroglu clinically specializes in Adult and Pediatric Spinal Deformity. He is an executive member of an international study group that focuses on adult deformity (European Spine Study Group). His research on the pathogenesis of adolescent idiopathic scoliosis in collaboration with scientists from UCSF and U of Montreal is funded by the SRS and Cotrel Foundation.</p>  
  		</div> 
		<div class="profile">  		
				<h3 class="position">Patricia Tavares BSc., DC., FCCO(C) (Canada)</h3>
  				<p class="description">Dr. Pat Tavares graduated from the Canadian Memorial Chiropractic College in 1995, and attained an orthopedic fellowship designation in 2004.   She started and ran a private practice for 14 years in Toronto’s west end.  She was the first chiropractic volunteer to work with Health Mission Outreach, a charitable organization that provides multidisciplinary one-day free clinics to communities in need in the greater Toronto area.   In 2010 she became a clinician at the Canadian Memorial Chiropractic College where, she supervises interns during their clinical rotation.   As a clinician she participates in the Outreach Abroad Mission to the Dominican Republic where she supervises interns treating patients in need of spinal care.   She is actively involved in research at CMCC in the areas of Low Back Pain and Pregnancy.  She currently serves as an elected council member of the College of Chiropractors of Ontario.  Dr. Tavares is the Coordinator of the Dominican Republic World Spine Care Program.</p>  
  		</div>   		  		  		  

			  <h1 class="section-title">Research Team</h1>
			<div class="profile">  			  
  				<h4 class="name">Eric Hurwitz DC, PhD (USA)</h4>
  				<p class="description">Dr. Eric Hurwitz is Associate Professor and Graduate Chair of Epidemiology in the Department of Public Health Sciences of John A. Burns School of Medicine at the University of Hawaii at Mānoa. He graduated from Los Angeles College of Chiropractic (Southern California University of Health Sciences) in 1988 and subsequently received M.S. and Ph.D. degrees in Epidemiology from UCLA. Dr. Hurwitz’s research interests include the epidemiology and treatment of musculoskeletal disorders and chronic diseases; the interrelationships of psychosocial, behavioral, and immune factors in the etiology and prognosis of physical and psychological pain; the safety and effectiveness of therapeutic and preventive interventions; and methods in observational and clinical epidemiology. He has served as principal or co-investigator on several pioneering epidemiologic and health services research projects, including randomized clinical trials and systematic reviews of chiropractic care and other interventions for low-back and neck pain.<br>Dr. Hurwitz has authored or coauthored six book chapters and more than 80 scientific articles in leading medical, chiropractic, and public health journals. The American Chiropractic Association named him 2003 Researcher of the Year, and with coauthors in 2006, received medical and interventional science awards from the North American Spine Society. Dr. Hurwitz and coauthors won the ISSLS Prize from the International Society for the Study of the Lumbar Spine in 2006 and 2009.<br>Dr. Hurwitz recently served on the Scientific Secretariat of The Bone and Joint Decade 2000-2010 Task Force on Neck Pain and Its Associated Disorders, and is currently a member of the National Institutes of Health’s Behavioral Medicine, Interventions and Outcomes Study Section, Center for Scientific Review.</p>
  		</div>
			<div class="profile">    		
  				<h4 class="name">Jan Hartvigsen DC, PhD (Denmark)</h4>
  				<p class="description">Dr. Jan Hartvigsen is Professor and Head of the Research Unit for Clinical Biomechanics at the Institute of Sports Science and Clinical Biomechanics at the University of Southern Denmark and Senior Researcher at the Nordic Institute of Chiropractic and Clinical Biomechanics. He is also Co-Director of the Graduate School of Physical Activity and Musculoskeletal Health at the University of Southern Denmark and Adjunct Research Professor at Northwestern Health Sciences University, Minneapolis, MN, USA. Dr Hartvigsen oversees a comprehensive research program dealing with the epidemiological, basic science, clinical, and health service aspects of musculoskeletal disorders with a focus on spine pain and disability at the University of Southern Denmark.<br>Dr. Jan Hartvigsen is Professor and Head of the Research Unit for Clinical Biomechanics at the Institute of Sports Science and Clinical Biomechanics at the University of Southern Denmark and Senior Researcher at the Nordic Institute of Chiropractic and Clinical Biomechanics. He is also Co-Director of the Graduate School of Physical Activity and Musculoskeletal Health at the University of Southern Denmark and Adjunct Research Professor at Northwestern Health Sciences University, Minneapolis, MN, USA. Dr Hartvigsen oversees a comprehensive research program dealing with the epidemiological, basic science, clinical, and health service aspects of musculoskeletal disorders with a focus on spine pain and disability at the University of Southern Denmark.<br>Dr. Hartvigsen is a Section Editor for Bio Med Central Musculoskeletal Disorders and he is on the Editorial Board of the Journal of Manipulative and Physiological Therapeutics and also Chiropractic and Manual therapies. He is a member of the International Organizing Committee of the Forum for Research on Low Back Pain in Primary Care. He has served as expert advisor to the Danish Board of Health in health technology assessments dealing with back pain and shoulder surgery, and he recently served as expert advisor to the Norwegian government in issues relating to chiropractic education.<br>Dr Hartvigsen has authored or co-authored over 60 papers including 11 systematic reviews in leading health science scientific journals. He has presented research at many conferences in Europe, North America and Australia often as an invited speaker.</p> 
  		</div>
			<div class="profile">    		
  				<h4 class="name">Deborah Kopansky-Giles DC, FCCS, MSc (Canada)</h4>
  				<p class="description">Dr. Deborah Kopansky-Giles is a chiropractor/ clinician scientist on staff in the Department of Family and Community Medicine (DFCM), St. Michael’s Hospital and a professor at the Canadian Memorial Chiropractic College, Department of Graduate Education and Research. Deborah divides her time between developing and managing education and research initiatives in the department at the Hospital, conducting research on models of care delivery and interprofessional education, consulting and lecturing internationally, publishing peer reviewed papers, and volunteering in professional offices and in private practice. At present, she is the principal investigator for two large health integration projects and several interprofessional education research initiatives. Her current Masters thesis is examining interprofessional collaboration competencies in health professional education.<br>Dr. Kopansky-Giles, has been involved on numerous local, national and international advisory groups, councils, committees, conference planning committees, working groups and networks over the past two decades. She represents Canada on the World Federation of Chiropractic and the profession worldwide on the WHO Bone and Joint Decade. As well Dr. Kopansky-Giles is on the editorial review board for three peer-reviewed journals.</p> 
  		</div>
			<div class="profile">    		
  				<h4 class="name">John Mayer, DC, PhD (USA)</h4>
  				<p class="description">John Mayer, DC, PhD is the Lincoln College Endowed Chair in Biomechanical Research in the College of Medicine, and Associate Professor in the School of Physical Therapy & Rehabilitation Sciences at the University of South Florida, as well as Adjunct Associate Professor at New York Chiropractic College. He obtained a DC degree from the National College of Chiropractic and a PhD in Exercise Science from Syracuse University, where he was awarded the 2001 “Doctoral Prize” for his exemplary research in MRI assessment of the lumbar muscles during exercise and occupational lifts.<br>Dr. Mayer has extensive clinical and research experience in physical rehabilitation, applied exercise physiology, and therapeutic exercise, and has published and presented widely on these topics. He is currently principal investigator or co-principal investigator on federally-funded research studies assessing targeted physical exercise interventions for reduction of risk for back injury in firefighters and military personnel.</p>
  		</div>
			<div class="profile">    		
  				<h4 class="name">Maria Hondras, DC, MPH (USA)</h4>
  				<p class="description">Dr. Maria Hondras is Associate Professor at the Palmer College of Chiropractic, Palmer Center for Chiropractic Research. She graduated from the National College of Chiropractic (National University of Health Sciences) in 1989 and obtained her Master of Public Health in Epidemiology from the University of Illinois at Chicago in 1993. She has served several leadership roles in the American Public Health Association Chiropractic Health Care Section and the Cochrane Collaboration Complementary Medicine Field, and she serves as grant reviewer and peer reviewer for several national and international organizations and professional journals.<br>Dr. Hondras has more than 20 years experience teaching critical appraisal of the literature and fundamentals of epidemiology in chiropractic curricula, graduate and post-graduate programs. Since 1990, she has been involved with the management, design and oversight of clinical trials in chiropractic. She has conducted workshops in epidemiology, evidence-based medicine and trial management in North America, Europe and Australia. Since 2003, she has served on the Advisory Council for the Palmer College Clinical Research Graduate Program and taught several courses in this master’s level program while mentoring 9 graduate students.<br>Her current research interests include patient and healer experiences with spine care, including the bodily, emotional and contextual experiences during manual therapy encounters; and, community-based and culturally informed perspectives into the everyday lives of people living with and caring for people with muscle, bone and joint conditions.</p> 
  		</div>
			<div class="profile">    		
				<h4 class="name">Michelle Boyle, BMath, MES (Canada)</h4>
  				<p class="description">Michelle has conducted social and environmental research in a variety of contexts and cultural settings.  As Research Coordinator for World Spine Care her main roles are to implement and manage data collection at the clinical level and to facilitate the organization’s research efforts.</p>   				
  		</div>

			  <h1 class="section-title">Clinical and Scientific Advisory Board</h1>  		
				<h3 class="position">Charles Branch MD</h3>
  				<h4 class="name"><ul><li>Dept Neurosurgery, Wake Forrest U. (USA)</li></h4>
				<h3 class="position">Max Aebi MD</h3>
  				<h4 class="name"><ul><li>Editor in Chief, European Spine Journal (Germany)</li></h4>   	
				<h3 class="position">John Mayer DC, Ph.D.</h3>
  				<h4 class="name"><ul><li>University of South Florida (USA)</li></h4>  				
				<h3 class="position">Don Powell MIPM</h3>
  				<h4 class="name"><ul><li>Administrative Consultant (USA)</li></h4>   	
				<h3 class="position">Björn Rydevik MD, PhD</h3>
  				<h4 class="name"><ul><li>Professor of orthopaedic surgery, Department of orthopaedics, Sahlgrenska Academy, Göteborg university.</li></h4>   
				<h3 class="position">William C. Watters III, MD</h3>
  				<h4 class="name"><ul><li>Clinical Professor in the Department of Orthopedics at both The Baylor College of Medicine Houston and the University of Texas Medical Branch in Galveston, Texas.</li></h4>   
				<h3 class="position">Carolyn Wilson and Vanessa Byleveld</h3>
  				<h4 class="name"><ul><li>Premier Corp (Botswana)</li></h4>   
				<h3 class="position">Eduardo S.B. Bracher DC, MD, Ph.D.</h3>
  				<h4 class="name"><ul><li>Department of Health Sciences, Anhembi Morumbi University, São Paulo (Brazil)</li></h4>   
				<h3 class="position">Paul Bishop, DC, MD, PhD</h3>
  				<h4 class="name"><ul><li>Clinical Associate Professor in the Department of Orthopaedics at the University of British Columbia.</li></h4>  
				<h3 class="position">Ezequiel Gherscovici PT, Dip. MDT, M.Sc, MPH/Ph.D. (candidate)</h3>
  				<h4 class="name"><ul><li>University of Southern California Department of Preventive Medicine.</li></h4>    			

			  <h1 class="section-title">Liasons</h1>

				<h3 class="position">Margareta Nordin Dr. Med. Sci.</h3>
  				<h4 class="name"><ul><li>Liaison for ISSLS and EuroSpine</li></h4> 

				<h3 class="position">William C. Watters III, MD</h3>
  				<h4 class="name"><ul><li>NASS Liaison</li></h4>   	
				<h3 class="position">Reginald Engelbrecht DC</h3>
  				<h4 class="name"><ul><li>Coordinator, Southern Africa Division (South Africa)</li></h4>   
				<h3 class="position">Deborah Kopansky-Giles DC</h3>
  				<h4 class="name"><ul><li>International Coordinating Council of the Bone and Joint Decades</li></h4>  
				<h3 class="position">Molly Meri Robinson DC</h3>
  				<h4 class="name"><ul><li>WHO Liaison (Switzerland)</li></h4>    
				<h3 class="position">Evalie Heath DC</h3>
  				<h4 class="name"><ul><li>Botswana Chiropractic Liaison</li></h4>   
  			</div>
  		</div>
  	</div>
  </section>
  <section class="contact blueprint" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-sm-5 col-sm-offset-2">
						<h1 class="section-header">Let's start a conversation</h1>
					<form class="form-horizontal" role="form">
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
					    <div class="col-sm-8">
					      <input type="name" class="form-control" id="inputname3" placeholder="Name">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-8">
					      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					    </div>
					  </div>
					 	<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
					    <div class="col-sm-8">
					      <input type="Phone" class="form-control" id="inputphone3" placeholder="Phone">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputOccupation3" class="col-sm-2 control-label">Occupation</label>
					    <div class="col-sm-8">
					      <input type="Occupation" class="form-control" id="inputOccupation3" placeholder="Email">
					    </div>
					  </div>							  
					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Message</label>
					    <div class="col-sm-8">
					      <input type="Message" class="form-control" id="inputMessage3" placeholder="Message">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-8">
					      <div class="checkbox">
					        <label>
					          <input type="checkbox"> Remember me
					        </label>
					      </div>
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <button type="submit" class="btn btn-default">Contact Us</button>
					    </div>
					  </div>
					</form>
					</div>
				</div>
			</div>
	</section>