<% provide(:title, "About") %>

  <div class="sub-nav hidden-xs hidden-sm">
  			<ul class="main-nav-list" id="main-nav">
			    <li class="">
			    	<a href="#mission"><h4>Mission</h4>
    					<%= image_tag "globe.svg", :class => "about-icon"%> 
    				</a>
			    </li>
			    <li>
			    	<a href="#history"><h4>History</h4>
            			<%= image_tag "map.svg", :class => "about-icon"%>		    		
			  		</a>	
			    </li>
			    <li>
			    	<a href="#team"><h4>Team</h4>
          				<%= image_tag "team.svg", :class => "about-icon"%>  			  		
          			</a>	
			    </li>
			    <li>
			    	<a href="#contact"><h4>Contact</h4>
    					<%= image_tag "globe.svg", :class => "about-icon"%> 
			  		</a>
			    </li>    
			</ul>  
	</div>



  <section class="mission" id="mission">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-11 col-sm-offset-1">
			  	<div class="col-sm-9 text-justify copy">
			  		  	<div class="section-lead">
	  						<h2>The Crippling Burden of Spinal Disorders</h2>
	  						<h5><i>WSC responds to global pain</i></h5>
	  					</div>
			  		<p>World Spine Care was founded in 2008, the inspiration of Scott Haldeman, a leading figure in the assessment and treatment of spinal disorders.  World Spine Care has rapidly attracted a world-class leadership team around its vision of universal care for the devastation caused by spinal disorders in the developing world. The Board of Directors includes Elon Musk, co-founder of PayPal, CEO of Tesla Motors and SpaceX, and Chairman of the Musk Foundation. Active participants in the World Spine Care programs  include medical physicians, surgeons, physiotherapists, chiropractors, and scientists from Canada and the U.S., with representation from Europe, Asia and Africa.</p>
		  			<p><blockquote>The burden of musculoskeletal disorders in terms of disability-adjusted life years on the developing world is estimated to be almost 2.5 times that of the developed world.<footer><cite title="Source Title">Adebajo &amp Gabriel, 2010; Adebajo et al., 2009</cite></footer></blockquote></p>	

			  		<p>World Spine Care (WSC) has been launched to fill the profound gap in the treatment of musculoskeletal conditions found in the developing world. WSC is a multinational not-for-profit organization, bringing together the full spectrum of health care professionals involved in spinal health – medical physicians and specialists, surgeons, chiropractors, and physiotherapists. WSC is focused on providing evidence-based, culturally integrated prevention, assessment, and treatment of spinal disorders in the developing world. The flagship project involves developing and initial deployment of a universal model of care for spinal disorders, designed for practical application by front-line health care workers in developing nations worldwide.</p>


				  	<p>Spinal disorders are amongst the most serious, often devastating, painful and debilitating health problems impacting rural communities in developing countries (Chopra and Abdel-Nasser, 2008).  The burden of musculoskeletal disorders in terms of disability-adjusted life years on the developing world is estimated to be almost 2.5 times that of the developed world (Adebajo and Gabriel, 2010; Adebajo et al., 2009).</p>
			  	</div>	
	  			 <div class="col-sm-3">
          			<%= image_tag "polygon-blue-narrow.jpg", :class => ""%>  			  		
				</div> 	  		  	
		  </div>
		</div>
	</section>  
  <section class="history" id="history">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-11 col-sm-offset-1">	
	  			 <div class="col-sm-3">
          			<%= image_tag "polygon-blue-narrow.jpg", :class => ""%>  			  		
				</div> 
			  		<div class="col-sm-9 text-justify copy">		  				
				  	<p>The principles of World Spine Care first came together in 2008 to realize their vision of a non-profit organization dedicated to addressing the massively underserved issue of musculoskeletal care in the developing world. Through 2008 and 2009 fundamental organizational infrastructure was put in place, and a strategic plan developed. The development of the model of care at the core of the Shoshong project was a milestone of this strategic planning process.</p>

					<p>This formational period also included extensive engagement with other non-profits and institutions, aimed at forming the partnerships and collaborations needed to realize the WSC vision. Seed money from the Palmer Chiropractic College, Palladian Musculoskeletal Health, NCMIC and the Canadian Memorial Chiropractic College funded this organizational start-up phase.</p>

					<p><blockquote> The World Health Organization states that musculo-skeletal conditions are the most common causes of severe pain and physical disability, affecting hundreds of millions of people across the world.  <footer><cite title="Source Title">Woolf &amp Pfleger, 2003</cite></footer></blockquote></p>

					<p>In early 2010, WSC obtained its non-profit status, a milestone that marked the launch of WSC’s strategic plan. The Shoshong project was developed as the cornerstone of this strategic plan, and is currently the focus of the organization. In February 2010, WSC visited Botswana, meeting with key government officials, including the Permanent Secretary, Director of Clinical Services, and Chief Research Officer of the Botswana Ministry of Health. Responding with enthusiasm to the WSC project, the Ministry of Health came onboard as a key partner and contributor.</p>

					<p>With the visit to Botswana confirming both the viability of, and urgent need for the Shoshong project, WSC set an aggressive project timetable, with the goal to be on the ground in Shoshong in mid 2011. WSC has now secured the funding for the first phase of the project and is in advanced planning regarding operation of the Shoshong clinic.</p>
					</div>
				</div>
			</div>	
		</div>	
	</section>  
  <section class="team blueprint" id="team">
  <!-- START of BOARD ROW -->
  	<div class="container">			
	  	<div class="row">
  			<div class="col-sm-11 col-sm-offset-1">	
  			</div>
  		</div>
  	</div>
  </section>