<section class="landing">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 mission">
				<h2 class="">We're a global charity on a mission to treat the disease with the greatest economic impact in the developing world: Spinal Disorders.</h2>
			    <h2><%= link_to "Make a Difference", takeaction_path, class: "btn btn-lg btn-primary center" %></h2>
			    <div class="scroll-down"> 
            <%= image_tag "scroll-down.svg"%>   
          </div>
      </div>
    </div>
	</div>
</section>

<section class="statement">
    <div class="info-section center">
        <h2>October 16th is World Spine Day</h2>
        <div class="video-box">
            <div class="placeholder">
                <a>
            <%= image_tag "play-button.png", :class => "playbutton"%>
                </a>
            </div>
        </div>
				  <%= link_to "Help us bring spine care to communities in need.", takeaction_path, class: "btn btn-lg btn-primary center" %>
    </div>
</section>



<section class="second-callout">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 secondary-callout-boxes center">
								<hr>
					<h2 class="center">World Spine Care aims to create a world in which everyone has access to the highest quality spine care available. We improve lives and wellbeing for people with spinal disorders in underserved areas around the world:</h2>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 co-box">
	          <%= image_tag "prevention.jpg", :class => "icon"%>
              <h3>Sustainable, Evidence-Based Care</h3>
              <p>Create sustainable capacity for effective spinal care in developing countries by establishing clinics with the goal of transitioning their operation to host health care systems.</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 co-box">
	          <%= image_tag "education2.jpg", :class => "icon"%>
	          	<h3>Education</h3>
              <p>Educate patient populations on spine care; front-line health care workers in use of WSC spinal care protocols; professionals on spine care expertise; and providing scholarships in physiotherapy, chiropractic or spinal surgery from collaborating academic institutions.</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-4 col-lg-4 co-box">
	          <%= image_tag "prevention2.jpg", :class => "icon"%>
              <h3>Prevention</h3>
              <p>Deploy a universal, low cost, effective spine care toolkit and WSC clinical model of care. The toolkit is now being developed and tested in WSC project in Botswana.</p>
					</div>
			</div>
		</div>
	</div>
</section>

  <section class="tutu img-responsive">
		<div class="text-overlay">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
			     <h2>"I support the goal of <i>World Spine Care</i> to enable effective spine care, one village at a time, for the hundreds of millions of people around the world who suffer from spinal problems and have no access to treatment." <br>-- <i>Desmond Tutu</i></h2>
			    </div>
			  </div>
			</div>
		</div>
</section>

<section class="clinics">
    <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <hr>
              <h2 class="center">We've established clinics around the world:</h2>
              <hr>
            </div>
          </div>  
        </div>  
          <div class="col-sm-6 col-md-6 col-lg-6 clinic-pic dominican">
      <a href="clinics.html">
            <div class="overlay">            
              <h1 class="center clinic-overlay">Dominican Republic</h3>
            </div>  
          </div>
      </a>
          <div class="col-sm-6 col-md-6 col-lg-6 clinic-pic botswana">
      <a href="clinics.html">
            <div class="overlay">            
              <h1 class="center clinic-overlay">Botswana</h3>
            </div>  
          </div>
      </a>
          <div class="col-sm-6 col-md-6 col-lg-6 clinic-pic tanzania">
      <a href="clinics.html">            
            <div class="overlay">
              <h1 class="center clinic-overlay">Tanzania</h3>
            </div>
          </div>
      </a>    
          <div class="col-sm-6 col-md-6 col-lg-6 clinic-pic india">
      <a href="clinics.html">
            <div class="overlay">            
              <h1 class="center clinic-overlay">India</h3>
            </div>
          </div>                   
      </a>
    </div>
</section>


  <section class="care-vision" id="careVision">  
    <div class="container">
      <div class="row">
          <hr>
              <h1 class="section-title">We practice  Spine Care that is:</h1> 
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">      
              <div class="care-principles">      
                 <div class="care-icons"> 
                      <%= image_tag "connections.svg" %>
                    </div>
                    <h3>Inter-Professional</h3>                  
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">              
              <div class="care-principles">                  
                 <div class="care-icons"> 
                    <%= image_tag "collaborative.svg" %>
                  </div>
                    <h3>Collaborative</h3>                  
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">            
              <div class="care-principles">                    
                 <div class="care-icons"> 
                    <%= image_tag "location.svg" %>
                  </div>
                    <h3>Accessible</h3>
              </div>                                                      
          </div>             
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">          
              <div class="care-principles">                    
                 <div class="care-icons"> 
                    <%= image_tag "hospital.svg" %>
                  </div>
                    <h3>Capacity-Building</h3>                  
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">            
              <div class="care-principles">                    
                 <div class="care-icons"> 
                    <%= image_tag "information.svg" %>
                  </div>
                    <h3>Culturally Integrated &amp Sensitive</h3>
              </div>   
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">                          
              <div class="care-principles">                    
                 <div class="care-icons"> 
                    <%= image_tag "ledger.svg", class: "raise-icon" %>
                  </div>
                    <h3>Accountable</h3>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">            
              <div class="care-principles">                    
                 <div class="care-icons"> 
                    <%= image_tag "transparency.svg", class: "lower-icon" %>
                  </div>
                    <h3>Transparent</h3>
              </div>    
          </div>                                                     
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">    
              <div class="care-principles">                  
                   <div class="care-icons"> 
                      <%= image_tag "research.svg", class: "raise-icon" %>
                  </div>
                      <h3>Research &amp Outcome Oriented</h3>                  
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">            
              <div class="care-principles">                  
                   <div class="care-icons"> 
                      <%= image_tag "opensource.svg" %>
                </div>
                  <h3>Open-Source</h3>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">                          
              <div class="care-principles">                    
                 <div class="care-icons"> 
                    <%= image_tag "equal.svg", class: "lower-icon" %>
                  </div>
                    <h3>Equal-Opportunity Employment</h3>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">            
              <div class="care-principles">                    
                 <div class="care-icons"> 
                    <%= image_tag "gear.svg" %>
                  </div>
                    <h3>Volunteer-Driven </h3>
              </div>
          </div>    
          <hr>          
    </div>
  </section>

<section class="musk img-responsive">
		<div class="text-overlay">
			<div class="container">
				<div class="row">
					<div class="col-sm-5 col-sm-offset-7">
			     <h2>"<i>World Spine Care</i> is initiating a program that should facilitate a transformational change in the understanding of Spine Care" <br>-- <i>Elon Musk</i></h2>
			    </div>
			  </div>
			</div>
		</div>
</section>



  <div class="our-partners white-bg hidden-sm hidden-xs">
    <div class="container">
      <div class="row borders">
        <h1 class="text-center section-title">Our Partners</h1>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/skoll-foundation.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/palladian.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/cmcc120.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/palmer120.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/ncmic120.png") %> /></a>
          </div>  
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/elite120.png") %> /></a>
          </div>
      </div><!-- /.row -->
    </div>
    <div class="container">
      <div class="row borders">
        <h2 class="text-center section-header">Collaborating Institutions</h2>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/usf.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/schoolofphys.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/usd.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/cmcc120.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/palmer120.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/jab.png") %> /></a>
          </div>
      </div><!-- /.row -->
    </div>
    <div class="container">
      <div class="row borders">
        <h2 class="text-center section-header">Endorsing Professional Associations</h2>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/boneandjoint120.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/nass120.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/eurospine120.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/issls120.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/wfc120.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/sass120.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/casa.jpg") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/css.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/isass-logo.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/logo_cdnchiroassoc.gif") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/sbpr.png") %> /></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://www.worldspinecare.com"><img class="img-responsive center-block partner-logo" src=<%= asset_path("partners/vapfoundation.JPG") %> /></a>
          </div>                       
      </div><!-- /.row -->
    </div>
    </div><!-- /.container -->
  <!-- Our Partners End -->

