<section class="landing">
	<div class="container">
		<div class="row">	
			<div class="col-sm-5 mission">
			    	<h1>World Spine Care</h1>
			    <h2>
				  <%= link_to "Donate now!", signup_path, class: "btn btn-lg btn-primary" %>
			    </h2>
			</div>
		</div>
	</div>
</section>

<section class="statement">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 secondary-callout-boxes center">
								<hr>
					<h2 class="center">We're a global charity whose mission is to treat the disease with the greatest economic impact in the developing world: spinal disorders. Here are three things that make us different:</h2>

					<div class="col-sm-4 co-box">
	          <%= image_tag "globe.svg", :class => "icon"%>	
              <h3>100% Model</h3>
              <p>Private donors fund our operating costs so 100% of your donations go straight to the field.</p>
					</div>
					<div class="col-sm-4 co-box">
	          <%= image_tag "map.svg", :class => "icon"%>	
	          	<h3>100% Model</h3>
              <p>Private donors fund our operating costs so 100% of your donations go straight to the field.</p>
					</div>
					<div class="col-sm-4 co-box">
	          <%= image_tag "team.svg", :class => "icon"%>	
              <h3>100% Model</h3>
              <p>Private donors fund our operating costs so 100% of your donations go straight to the field.</p>	         
					</div>								
			</div>
		</div>
	</div>
</section>

 <section class="sept-section">
    <div class="inner home-section center">
        <h2>What is the September&nbsp;Campaign?</h2>
        <p>Each September, we focus our fundraising efforts on one area for maximum impact. This year, we’ve chosen one of the harshest places on earth. And you can help.</p>
        <div class="video-box">
            <div class="placeholder">
                <a class="play" data-video="101340062">
                    <span class="icn cw-icon-play"></span>
                </a>
            </div>
        </div>
				  <%= link_to "Check out the Campaign", signup_path, class: "btn btn-lg btn-primary center" %>
    </div>
</section>
 <section class="info-section">
    <div class="center">
        <h2>What is the September&nbsp;Campaign?</h2>
        <p>Each September, we focus our fundraising efforts on one area for maximum impact. This year, we’ve chosen one of the harshest places on earth. And you can help.</p>
        <div class="video-box">
            <div class="placeholder">
                <a class="playButton" data-video="">
                    <span class="icn cw-icon-play"></span>
                </a>
            </div>
        </div>
				  <%= link_to "Check out the Campaign", signup_path, class: "btn btn-lg btn-primary center" %>
    </div>
</section>
<section class="third-callout">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-7">
	     <h2>"World Spine Care is initiating a program that should facilitate a transformational change in the understanding of Spine Care" <br>-- <i>Elon Musk</i></h2>
	    </div>
	  </div>
	</div>
</section>
