<section class="landing">
	<div class="container">
		<div class="row">	
			<div class="col-sm-5 mission">
				<h2 class="center">We're a global charity whose mission is to treat the disease with the greatest economic impact in the developing world: spinal disorders.</h2>			    	
			    <h2>
				  <%= link_to "Make a Difference", signup_path, class: "btn btn-lg btn-primary" %>
			    </h2>
			</div>
		</div>
	</div>
</section>

<section class="statement">
    <div class="info-section center">
        <h2>What is the Yoga&nbsp;Project?</h2>
        <div class="video-box">
            <div class="placeholder">
                <a class="glyphicon glyphicon-play-circle" data-video="101340062">
                    <span class="glyphicon glyphicon-play-circle"></span>
                </a>
            </div>
        </div>
				  <%= link_to "Check out the Campaign", signup_path, class: "btn btn-lg btn-primary center" %>
    </div>
</section>

<section class="second-callout">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 secondary-callout-boxes center">
								<hr>
					<h2 class="center">We're a global charity whose mission is to treat the disease with the greatest economic impact in the developing world: spinal disorders. Here are three things that make us different:</h2>

					<div class="col-sm-4 co-box">
	          <%= image_tag "globe.svg", :class => "icon"%>	
              <h3>100% Model</h3>
              <p>Private donors fund our operating costs so 100% of your donations go straight to the field.</p>
					</div>
					<div class="col-sm-4 co-box">
	          <%= image_tag "map.svg", :class => "icon"%>	
	          	<h3>100% Model</h3>
              <p>Private donors fund our operating costs so 100% of your donations go straight to the field.</p>
					</div>
					<div class="col-sm-4 co-box">
	          <%= image_tag "team.svg", :class => "icon"%>	
              <h3>100% Model</h3>
              <p>Private donors fund our operating costs so 100% of your donations go straight to the field.</p>	         
					</div>								
			</div>
		</div>
	</div>
</section>


<section class="third-callout">
		<div class="text-overlay">
			<div class="container">
				<div class="row">
					<div class="col-sm-5 col-sm-offset-7">
			     <h2>"World Spine Care is initiating a program that should facilitate a transformational change in the understanding of Spine Care" <br>-- <i>Elon Musk</i></h2>
			    </div>
			  </div>
			</div>
		</div>
</section>

  <div class="our-partners white-bg">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Our Partners</h2>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/skoll-foundation.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/palladian.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/cmcc120.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/palmer120.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/ncmic120.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/elite120.png">
          </div>
      </div><!-- /.row -->
    </div>
    <div class="container">
      <div class="row">
        <h2 class="text-center section-header">Collaborating Institutions</h2>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/usf.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/schoolofphys.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/usd.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/cmcc120.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/palmer120.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/jab.png">
          </div>
      </div><!-- /.row -->
    </div>
    <div class="container">
      <div class="row">
        <h2 class="text-center section-header">Endorsing Professional Institutions</h2>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/boneandjoint120.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/nass120.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/eurospine120.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/issls120.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/wfc120.png">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive center-block partner-logo" src="/assets/partners/sass120.png">
          </div>
      </div><!-- /.row -->
    </div>    
    </div><!-- /.container -->
  <!-- Our Partners End -->