<% provide(:title, "World Spine Day") %>
	<section class="wsday-landing">

		<div class="overlay">
			<div class="container">
				<div class="row">
					<section class="wsday-landing">	
						<div class="text-overlay col-sm-12"><h1>World Spine Day<br><span>- October 16 -</span></h1></div>
				    <div class="scroll-down center"> 
				    	<a class="main-nav-list" href="#wsd-content" id="main-nav">
	            	<%= image_tag "scroll-down.svg"%>   
	            </a>
	          </div>						
					</section>
				</div>
			</div>
		</div>
		<video autoplay="true" loop="true" muted="true">
			<source src="http://world-spine-care.s3.amazonaws.com/straighten-up.mp4" type="video/mp4">
			<source src="http://world-spine-care.s3.amazonaws.com/straighten-up.webm" type="video/webm">
		</video>

	</section>
	<section class="wsd-content" id="wsd-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-2 secondary-callout-boxes">
					<h1 class="section-header">World Spine Day</h1>
						<p>Every year on <b>October 16th</b> people from around the world join together to raise awareness on World Spine Day as part of the Bone and Joint Decade’s Action Week.</p>
						<p>Spinal disorders represent a global health care crisis, <b>affecting over a billion people worldwide</b> and contributing more to the global burden of disease than HIV, more than malaria, more than diabetes, more than stroke, more than lung and breast cancer combined.</p>
						<p>World Spine Care has teamed up with <b>World Spine Day</b> and the <b>Bone and Joint Decade</b> to raise funds to bring spine care to communities in need. </p>
				</div>
			</div>
		</div>
	</section>
<section class="center">
									<hr>
		<h1 class="section-header">How You Can Help</h1>	
	<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-2">
					<div class="co-help">
										<div class="co-wsd">
											<div class="co-icon">
						          	<%= image_tag "collaborative.svg", :class => "icon"%>
						          </div>
					              <h3>Practitioners</h3>
										</div>              

				        		<div class="donations">							
												<a class="btn btn-lg btn-primary donate" href="https://docs.google.com/forms/d/1f28zcPJkk9QI0y2VmSIqem7GJN2ayVAAEqeZ69e9uwA/viewform?usp=send_form">Register here</a>

												<%= link_to asset_path("world-spine-day-practitioner.pdf"), :class => "btn btn-large donate" do %>Information Package<% end %>
												<%= link_to asset_path("thank-you-poster.pdf"), :class => "btn btn-large donate" do %>Thank You Poster <% end %>		
										</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="co-help">
										<div class="co-wsd">
											<div class="co-icon">						
						          <%= image_tag "yoga3.svg", :class => "icon"%>
						        	</div>
						          	<h3>Yoga Teachers</h3>
										</div>	   

				        		<div class="donations">						
												<a class="btn btn-lg btn-primary donate" href="https://docs.google.com/forms/d/1f28zcPJkk9QI0y2VmSIqem7GJN2ayVAAEqeZ69e9uwA/viewform?usp=send_form">Register here</a>

												<%= link_to asset_path("world-spine-day.pdf"), :class => "btn btn-large donate" do %>Information Package<% end %>
												
												<%= link_to asset_path("karma-class-poster.pdf"), :class => "btn btn-large donate" do %>Thank You Poster<% end %>			
										</div>
					</div>
				</div>
			</div>
				<div class="row">					
					<div class="col-sm-8 col-sm-offset-2">			
						<div class="co-help">
							<div class="co-wsd">
								<div class="co-icon">						
			          <%= image_tag "coins.svg", :class => "icon"%>
			        	</div>
		              <h3>Donors</h3>
			        </div>
		        		<div class="donations">
									<a class="btn btn-lg btn-primary donate" href="https://www.canadahelps.org/dn/15846">Donate from Canada</a>	        	
									<a class="btn btn-lg btn-primary donate" href="https://www.z2systems.com/np/clients/spinecare/donation.jsp">Donate from USA/ International</a>  
								</div>      	
					</div>		
				</div>
</section>

