<% provide(:title, "World Spine Day") %>
	<section class="wsday-landing">

		<div class="overlay">
			<div class="container">
				<div class="row">
					<section class="wsday-landing">	
						<div class="text-overlay col-sm-12"><h1>World Spine Day<br><span>- October 16 -</span></h1></div>
				    <div class="scroll-down center"> 
				    	<a class="main-nav-list" href="#wsd-content" id="main-nav">
	            	<%= image_tag "scroll-down.svg"%>   
	            </a>
	          </div>						
					</section>
				</div>
			</div>
		</div>
		<video autoplay="true" loop="true" muted="true">
			<source src="http://world-spine-care.s3.amazonaws.com/straighten-up.mp4" type="video/mp4">
			<source src="http://world-spine-care.s3.amazonaws.com/straighten-up.webm" type="video/webm">
		</video>

	</section>
	<section class="wsd-content" id="wsd-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-2 secondary-callout-boxes">
					<h1 class="section-header">World Spine Day</h1>
						<p>Every year on <b>October 16th</b> people from around the world join together to raise awareness on World Spine Day as part of the Bone and Joint Decade’s Action Week.</p>
						<p>Spinal disorders represent a global health care crisis, <b>affecting over a billion people worldwide</b> and contributing more to the global burden of disease than HIV, more than malaria, more than diabetes, more than stroke, more than lung and breast cancer combined.</p>
						<p>World Spine Care has teamed up with <b>World Spine Day</b> and the <b>Bone and Joint Decade</b> to raise funds to bring spine care to communities in need. </p>
				</div>
			</div>
		</div>
	</section>
<section class="wsd-support center">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 secondary-callout-boxes">
								<hr>
					<h1 class="section-header">How You Can Help</h1>
					
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">	
					<div class="co-wsd">
						<div class="co-icon">
	          	<%= image_tag "yoga5.svg", :class => "icon"%>
	          </div>
              <h3>Practitioners</h3>
					</div>              
						<h3 class="c-o">Donate $3 for every treatment provided on World Spine Day</h3>
	        		<div class="donations">							
								<a class="btn btn-lg btn-primary donate" href="https://docs.google.com/forms/d/1f28zcPJkk9QI0y2VmSIqem7GJN2ayVAAEqeZ69e9uwA/viewform?usp=send_form">Register here</a>
							</div>
				</div>
					
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">	
					<div class="co-wsd">
						<div class="co-icon">						
	          <%= image_tag "chiropractor.svg", :class => "icon"%>
	        	</div>
	          	<h3>Yoga Teachers</h3>
					</div>	          	
						<h3 class="c-o">Host a World Spine Care Karma Class at your yoga studio</h3>
	        		<div class="donations">						
								<a class="btn btn-lg btn-primary donate" href="https://docs.google.com/forms/d/1yQCxR9Y58Gw98PsKt5otCrcj-lT7PH5JRyJ-A_xzYKw/viewform?usp=send_form">Register here</a>			
							<a class="btn btn-lg btn-primary donate" href="#karmaClass">Learn More</a>														
							</div>

				</div>
					
				<div class="col-xs-12 col-sm-12 col-sm-offset-3 col-md-4 col-lg-4 center">	
					<div class="co-wsd">
						<div class="co-icon">						
	          <%= image_tag "coins.svg", :class => "icon"%>
	        	</div>
              <h3>Donors</h3>
	        </div>
	        	<h3 class="c-o">Make a donation to WSC’s World Spine Day Campaign</h3>
	        		<div class="donations">
								<a class="btn btn-lg btn-primary donate" href="https://www.canadahelps.org/dn/15846">Donate from Canada</a>	        	
								<a class="btn btn-lg btn-primary donate" href="https://www.z2systems.com/np/clients/spinecare/donation.jsp">Donate from USA</a>  
							</div>      	
				</div>		

			</div>
		</div>
	</div>
</section>

<section class="karma-class" id="karmaClass">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<h1 class="section-header">How it works</h1>
					<ol>
						<li>Register online at: <a href="https://docs.google.com/forms/d/1yQCxR9Y58Gw98PsKt5otCrcj-lT7PH5JRyJ-A_xzYKw/viewform?usp=send_form">Karma class registration</a></li>
						<li>Print and post World Spine Care posters in your studio and tell your participants and colleagues that you will be supporting World Spine Care this World Spine Day <%= link_to asset_path("karma-class-poster.pdf"), :class => "btn btn-large btn-danger" do %><h3>Download Now </h3><% end %></li>
						<li>In the month of October, host a Karma class for World Spine Day</li>
						<li>Make your donation:
							<li>Donate in Canada</li>
							<li>Donate in the US or internationally</li>
						</li>
					</ol>
</section>
