<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <nav>
          <div class="col-sm-3">      
            <ul>
              <li><%= link_to "Home",   root_path %></li>
              <li><%= link_to "About",   about_path %></li>
              <li><%= link_to "Clinics", clinics_path %></li>
              <li><%= link_to "Resources",   resources_path %></li>
              <li><%= link_to "Take Action",   takeaction_path %></li>
            </ul>
          </div>
          <div class="col-sm-3">              
            <ul>
              <li><%= link_to "About",   about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
            </ul>
          </div>           
        </nav>
      </div>
              <a href="/">&#169; World Spine Care 2014</a>
    </div>
</div>
</footer>