<footer class="footer">
  <div class="container">
    <div class="row">
        <nav>
          <div class="col-xs-12 col-sm-4">      
            <ul class="float">
              <li><%= link_to "Home",   root_path %></li>
              <li><%= link_to "About",   about_path %></li>
              <li><%= link_to "Clinics", clinics_path %></li>
              <li><%= link_to "Resources",   resources_path %></li>
              <li><%= link_to "Take Action",   takeaction_path %></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">              
            <ul class="float">
              <li><%= link_to "Donate",   takeaction_path %></li>
              <li><%= link_to "Sign Up" %></li>
            </ul>
          </div> 
          <div class="col-xs-12 col-sm-4">              
            <ul>
              <a href="https://www.facebook.com/WorldSpineCare?fref=ts"><li><%= image_tag "facebook.png", :class => "social-icon"%></li></a>
              <a href="https://twitter.com/WorldSpineCare"<li><%= image_tag "twitter.png", :class => "social-icon"%></li></a>     
            </ul>
          </div>           
        </nav>
      </div>
              <a class="copyright" href="/">&#169; World Spine Care 2014</a>
  </div>
</footer>